.challengeBox{
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    //min-width: 410px;
    border: 1px solid lightgray;
    background-color: white;
}

.purple{
    background-color: #C282B3;
    color: white;
}

.orange{
    background-color: #FAC4B6; 
    color: white;
}

.green{
    background-color: #74CCB4;
    color: white;
}

.category-flag{
    width: 5rem;
    margin-top: 1rem;
}

.challenge-buttomNav{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    font-size: 0.8rem;
    p{
        margin: 0.2rem;
    }
}

.challenge-red-text{
    color: #C85B70;
}

.challenge-green-text{
    color: #74CCB4;
}



/* Medium devices ipad*/ 
@media screen and (min-width: 750px) and (max-width: 1100px) {
    

}
    
/* Små skärmar mobil*/ 
@media screen and (max-width: 749px){
    
    .challengeBox{
        width: 95%;
    }
    .challenge-heading{
        margin-top: 1rem;
    }

    .challenge-buttomNav{
        flex-wrap: wrap-reverse;        
    }

}