.user-page{
    display: flex;
    flex-direction: row;
}

.userPage-main{
    width: 80%;
}

.users-Challenges{
    background-color: white;    
}

h1{
    width: 100%;
}

.create-challenge{
    align-self: flex-start;
    flex-direction: column;
    width: 20%;
    border: 1px solid lightgrey;
}

