.nav-link {
  font-weight: 200; }

.purple {
  background-color: #C282B3;
  color: white; }

.green {
  background-color: #74CCB4;
  color: white; }

.orange {
  background-color: #FAC4B6;
  color: white; }

.grey {
  background-color: lightgray;
  color: white; }

.white {
  background-color: white;
  color: black; }

button:focus {
  outline: 0; }
