.category-button{
    width: 5rem;
}

.purple{
    background-color: #C282B3;
    color: white;
}


.green{
    background-color: #74CCB4;
    color: white;
}

.orange{
    background-color: #FAC4B6; 
    color: white;
}


.grey{
    background-color: lightgray; 
    color: white;
}

.red{
    background-color: #C85B70;
    color: white;
}

.yellow{
    background-color: #FFD109;
    color: white;
}


.green{
    background-color: #74CCB4;
    color: white;
}

